<%= form_for @book, :html => { :class => 'form-horizontal' } do |f| %>
    <% if @book.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@book.errors.count, "error") %> prohibited this entry from being saved:</h2>

          <ul>
            <% @book.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>



    <div class="control-group">
      <%= f.label :title, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :title, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :release_date, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :release_date, :class => 'text_field' %>
      </div>
      <div class="control-group">
        <%= f.label :release_date, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_area :release_date, :class => 'text_area' %>
        </div>
      </div>

      <div class="controls">
        <%= f.file_field :avatar, :class => 'file_field' %>
      </div>
    </div>
    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
    </div>
<% end %>

