<%- model_class = Book -%>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Books Index</div>
  <section class="books">
    <% @books.each do |book| %>
        <article class="book">

          <%= link_to "#{book.title}", book_path(book) %>
          <%= image_tag book.avatar.url(:thumb) %>

          <p><%= book.release_date %></p>

          <p>
            <% book.authors.each do |author| %>
                <%= author.name %><%= " " %><%= author.surname %>
            <% end %>
          </p>
          <% if reader_signed_in? %>
              <%= form_for Receipt.new do |f|%>
                <%= f.hidden_field :book_id, :value => book.id %>
                <%= f.submit "Order book", class: "btn btn-primary"  %>
              <% end %>

          <% elsif librarian_signed_in? %>
              <%= link_to "Edit", edit_book_path(book), class: "btn btn-primary" %>
              <%= link_to "Remove", book,
                            data: {confirm: 'Are you sure?', :method => :delete}, class: "btn btn-primary" %>

          <% end %>
        </article>
    <% end %>
  </section>
  <%= will_paginate @books %>
</div>

