<section class ="book-parameters">
<h1><%= @book.title %></h1>
<%= image_tag @book.avatar.url %>
<h3>Release date: <%= @book.release_date %></h3>
</section>

<section class="book-description">

</section>
