// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar navbar-inverse bs-docs-nav
  height: 100px !important


.books .book
  width: 300px
  display: inline-block

#libwelcome
  color: lightgray


#readwelcome
  color: lightgray

.logged
  position: relative
  background-color: #101010
  height: 20px
  width: 200px
  margin-top: -20px
  border: 2px solid
  border-radius: 4px
  text-align: center

.footer
  position: relative
  bottom: 0px
  height: 50px
  lear: both
  padding-top: 20px
  background-color: #101010
  border-radius: 4px
  text-align: center

.panel-heading
  text-align: center