<% if librarian_signed_in? %>
    <% if receipt.status == Receipt::NEW%>

        <%= button_to "ACCEPT RECEIPT", receipt, :name => "accepted", method: :patch %>
        <%= button_to "CANCEL RECEIPT", receipt, :name => "librarian_canceled", method: :patch %>
    <% end%>
<% end%>
<% if librarian_signed_in? && current_librarian == receipt.librarian%>
    <% if receipt.status == Receipt::CANCELED%>

    <% end%>
    <% if receipt.status == Receipt::ACTIVE%>

      <%= button_to "CANCEL RECEIPT", receipt, :name => "librarian_canceled", method: :patch %>
      <%= button_to "READY ORDER", receipt, :name => "ready", method: :patch %>
    <% end%>
    <% if receipt.status == Receipt::READY%>

      <%= button_to "CANCEL RECEIPT", receipt, :name => "librarian_canceled", method: :patch %>
      <%= button_to "SHIPPED", receipt, :name => "shipped", method: :patch %>
    <% end%>
    <% if receipt.status == Receipt::SHIPPED%>

        <%= button_to "RETURNED", receipt, :name => "returned", method: :patch %>
    <% end%>
    <% if receipt.status == Receipt::CANCELED_ACTIVE%>

       <%= button_to "CANCEL CHECKED", receipt, :name => "checked_canceled", method: :patch %>
    <% end%>
<% end%>

<% if current_reader == receipt.reader %>
    <% if receipt.status == Receipt::NEW%>

       <%=button_to "CANCEL", receipt, name: "reader_canceled", method: :patch %>
    <% end%>
    <% if receipt.status == Receipt::ACTIVE%>

        <%= button_to "CANCEL", receipt, name: "reader_canceled", method: :patch %>
    <% end%>
<% end %>