<%- model_class = Receipt -%>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Books Index</div>
  <section class="books">
    <% @books.each do |book| %>
        <article class="book">
          <h3><%= book.title %></h3>
          <%= image_tag book.avatar.url(:thumb) %>

          <p><%= book.release_date %></p>

          <p>
            <% book.authors.each do |author| %>
                <%= author.name %><%= " " %><%= author.surname %>
            <% end %>
          </p>
          <% if reader_signed_in? %>
              <%= link_to "Order book", create_receipt_path(book), class: "btn btn-primary" %>

          <% elsif librarian_signed_in? %>
              <%= link_to "Edit", edit_book_path(book), class: "btn btn-primary" %>
              <%= link_to "Remove", book,
                          data: {confirm: 'Are you sure?', :method => :delete}, class: "btn btn-primary" %>

          <% end %>
        </article>
    <% end %>
  </section>
  <%= will_paginate @books %>
</div>

