<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Receipts Index</div>

  <!-- Table -->
  <table class="table">
    <thead>
    <tr>
      <th>STATUS</th>
      <th>Title</th>
      <th>Authors</th>
      <th>Librarian</th>
      <th>ACTIONS</th>
    </tr>
    </thead>
    <tbody>
    <% @receipts.each do |receipt| %>
        <tr>
          <td><%= status_for(receipt)%></td>
          <td><%= receipt.book.title %></td>
          <td>
              <% receipt.book.authors.each do |author| %>
                <%= author.name%> <%= author.surname %>
              <% end %>
          </td>
          <td>
          <% if receipt.librarian %>
              <%= receipt.librarian.name %> <%= receipt.librarian.surname %>
          <% end %>
          </td>
          <td>
            <%= render :partial => "buttons", locals: {receipt: receipt}%>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
  </br>
  <%= will_paginate @receipts %>
</div>
