<!DOCTYPE html>
<html>
<head>
  <title>Biblioteka</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="wrapper">

  <div class="header">
  </div>

  <header class="navbar navbar-inverse bs-docs-nav" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="../" class="navbar-brand">Bookstore.ly</a>
      </div>
      <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
        <ul class="nav navbar-nav">
          <li>
            <%= link_to "Books", books_path %>
          </li>
          <% if reader_signed_in? or librarian_signed_in? %>
              <li>
                <%= link_to "Receipts", receipts_path %>
              </li>
          <% end %>

        </ul>

        <ul class="nav navbar-nav navbar-right">

          <% if reader_signed_in? %>
              <li>
                <%= link_to "Sign out", destroy_reader_session_path, method: :delete %>
              </li>
          <% elsif librarian_signed_in? %>

              <li>
                <%= link_to "Add Book", new_book_path %>
              </li>
              <li>
                <%= link_to "Sign out", destroy_librarian_session_path, method: :delete %>
              </li>
          <% else %>
              <li>
                <%= link_to "Sign in", new_reader_session_path %>
              </li>
              <li>
                <%= link_to "Sign up", new_reader_registration_path %>
              </li>
          <% end %>


          </li>
        </ul>
      </nav>
    </div>
  </header>

  <% if (reader_signed_in? || librarian_signed_in?) %>
      <div class="logged pull-right">
        <% if librarian_signed_in? %>
            <div id= "libwelcome">Welcome, librarian <%= current_librarian.name %></div>
        <% end %>

        <% if reader_signed_in? %>
            <div id="readwelcome">Welcome, reader <%= current_reader.name %></div>
        <% end %>
      </div>
  <% end %>


  <% if flash[:alert] %>
      <div class="alert alert-danger"><%= flash[:alert] %></div>
  <% end %>
  <% if flash[:notice] %>
      <div class="alert alert-info"><%= flash[:notice] %></div>
  <% end %>

  <%= yield %>

  <div class="push"></div>

</div>

<div class="footer">
  <p class="copyright">Copyright &copy; 2013 Aleksandros Kifonidis &mdash; <a href="http://google.pl/" title="My CV">CV</a></p>
</div>

</body>

</html>
